body{
    background-color: rgb(72, 164, 164);
}

main{
    background-color: green;
}
ul{
    display: flex;
    gap: 5%;       
}
li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
}