* {
    padding: 0;
    margin: 0;
}
html{
    background-color: #aaa4cc;
}
#header, footer{
    background-color: #000115;
    font-family: serif;
    color: #fdfcfc;
    display: flex;
    align-items: center;
    font-size: 6rem;
    font-weight: bold;
}

footer {
    font-size: 1rem;
    min-height: 200px;
    justify-content: center;
    cursor: pointer;
}

.logo{
    height: 300px;
    position: relative;
    margin-right: 100px;
}

.logo-container{
    height: 300px;
    width: auto; 
    display: block;
    position: relative;
}

body{
    background-color: #aaa4cc;
    font-family: Arial, Helvetica, sans-serif;
}

.slider-1{
    max-width: 400px;
    margin: 100px auto;
    overflow: hidden;
    border: 1px solid #000000;
}

.slider-1 .slider{
    display: flex;
    animation: slider-1 12s infinite ease-in-out;
}

.slider-1 p, .slider-1 img{
    background: #af2a2a;
    flex-shrink: 0;
    width: 100%;
    color: #f1f1f1;
}

@keyframes slider-1{
    0%,
    20% {
        transform: translateX(0);
    }
    25%,
    40% {
        transform: translateX(-100%);
    }
    50%,
    70% {
        transform: translateX(-200%);
    }
    75%,
    95% {
        transform: translateX(-300%);
    }
    100% {
        transform: translate(-400%);
    }
}

h1{
    display: flex;
    height: 300px;
    width: 100%;
}

.vignette {
    display: flex;
    justify-content: center; 
}

.im {
    margin: 5px; /* Marge entre les images */
    max-width: 100%; /* Empêche les images de dépasser de leur conteneur */
    height: auto; /* Assure que les images conservent leurs proportions */
}

/*************************************************/

#playersSection{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 25px;
    height: auto;
}

.player {
    width: 40%;
    min-height: 100px;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    border: 3px solid black;
    margin: 25px;
    background-color: #f5f5f5;
}

.player .leftpart {
    width: 40%;
    display: flex;
    align-items: center;
}

.player .leftpart img {
    width: 100%;
}

.player .rightpart {
    width: 60%;
    padding-left: 25px;
}

.player .rightpart div {
    display: flex;
    align-items: center;
}

.player .rightpart div img {
    height: 25px;
    margin-right: 10px;
}

.player .rightpart div p {
    margin: 0;
}

.player .rightpart button {
    margin-top: 25px;
}

.player .rightpart h2 {
    margin: 0;
}

