html{
    background-color: rgba(24, 0, 0, 0.959);
}
header{
    background-color: rgb(127, 28, 28);
    justify-content: center;
    font-family: serif;
}

.logo{
    height: 300px;
    position: relative;
}

#header{
    display: flex;
    flex-direction: row;
    align-items:flex-start ;
    font-size: 100px;
    font-style: italic;
}

.logo-container{
    height: 300px;
    width: auto; 
    display: block;
    position: relative;
}

body{
    background-color: rgb(111, 9, 9);
    font-family: Arial, Helvetica, sans-serif;
}

.slider-1{
    max-width: 400px;
    margin: 100px auto;
    overflow: hidden;
    border: 1px solid #000000;
}

.slider-1 .slider{
    display: flex;
    animation: slider-1 12s infinite ease-in-out;
}

.slider-1 p, .slider-1 img{
    background: #af2a2a;
    flex-shrink: 0;
    width: 100%;
    color: #f1f1f1;
}

@keyframes slider-1{
    0%,
    20% {
        transform: translateX(0);
    }
    25%,
    40% {
        transform: translateX(-100%);
    }
    50%,
    70% {
        transform: translateX(-200%);
    }
    75%,
    95% {
        transform: translateX(-300%);
    }
    100% {
        transform: translate(-400%);
    }
}

h1{
    display: flex;
    height: 300px;
    width: 100%;
}

.vignette {
    display: flex;
    justify-content: center; 
}

.im {
    margin: 5px; /* Marge entre les images */
    max-width: 100%; /* Empêche les images de dépasser de leur conteneur */
    height: auto; /* Assure que les images conservent leurs proportions */
}